body {
    font-size: 30px;
}
section {
    text-align: center;
}
h1 {
    margin: 0;
    display: flex;
    justify-content: center;
}
video {
    text-align: center;
    max-width: 100%;
    height: auto;
    padding: 20px;
}